<header>
  <nav class="navbar app-bg-primary">
    <a class="navbar-brand float-start text-light px-3" th:href="@{/}">
      <i class="fa-solid fa-guitar fa-xl"></i>
    </a>
    <ul class="navbar-nav hstack gap-4 me-auto">
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/tutorial1}">Removing Strings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/tutorial2}">Adding Strings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/tutorial3}">Tuning Strings</a>
      </li>
    </ul>
  </nav>
</header>