<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/_head :: head(pageTitle='Adding Strings')}"></head>
<body>
<header th:replace="~{fragments/_nav}"></header>
<main>
    <div class="hstack justify-content-center w-50 mx-auto py-5">
        <div class="card w-100 app-bg-primary" id="card-main">
            <img class="card-img-top mx-auto object-fit-scale" style="max-width: 24rem; aspect-ratio: 1;">
            <hr class="m-3 border border-light">
            <div class="card-body pt-0 text-light">
                <h5 class="card-title">Adding Strings</h5>
                <p class="card-text">Steps</p>
                <div class="accordion pb-3" id="accordion-steps">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                Remove Strings
                            </button>
                        </h2>
                        <div id="collapse-one" class="accordion-collapse collapse show" data-bs-parent="#accordion-steps">
                            <div class="accordion-body">
                                <strong>
                                    If the strings on the guitar have not yet removed, make sure that you remove them (including removing your bridge pins).
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                Place String End In Bridge Pin Holes
                            </button>
                        </h2>
                        <div id="collapse-two" class="accordion-collapse collapse" data-bs-parent="#accordion-steps">
                            <div class="accordion-body">
                                <strong>
                                    Take the first string you want to use, and place the circular end it in correct bridge pin hole.
                                    Then place the bridge pin back into its hole, pull on the string, and keep pushing down on the bridge pin.
                                    After you have confirmed the pin is secure and won't move you can move on to the next step.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                                Push Sharp String End Through Winder
                            </button>
                        </h2>
                        <div id="collapse-three" class="accordion-collapse collapse" data-bs-parent="#accordion-steps">
                            <div class="accordion-body">
                                <strong>
                                    Find the correct tuning peg and push the sharp string end through it. Pull the string as far you can through the winder, then
                                    measure roughly two winder lengths of string and push that length back through the winder.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                                Hold Down String and Wind
                            </button>
                        </h2>
                        <div id="collapse-four" class="accordion-collapse collapse" data-bs-parent="#accordion-steps">
                            <div class="accordion-body">
                                <strong>
                                    Tension the string by holding it down near the guitar nut so it can not move. Then begin winding until the string
                                    has enough tension to keep itself in place without unravelling around the peg.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-five" aria-expanded="false" aria-controls="collapse-five">
                                Repeat For All Six Strings Then Tune
                            </button>
                        </h2>
                        <div id="collapse-five" class="accordion-collapse collapse" data-bs-parent="#accordion-steps">
                            <div class="accordion-body">
                                <strong>
                                    Repeat steps one through five for all six strings, ensuring the bridge pins for each string are secure
                                    and that the strings have enough tension to not unravel around the tuning peg. Once you are done
                                    you can start tuning the guitar to the desired tuning.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-light">Image Source</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/_footer}"></footer>
<script th:inline="javascript">
    const urls = [
        'https://stuff.fendergarage.com/images/Q/Z/B/fcwm-online-tuner-4up-acoustic-mobile.jpg',
        'https://d28z68mqtlsfzd.cloudfront.net/app/uploads/2019/02/26082849/guitar_changingstrings_20_img_5068-1024x683.jpg',
        'https://vjmedia.wpi.edu/images/f/ff/String_new_string_thru_tuner.jpg',
        'https://images.squarespace-cdn.com/content/v1/510519ace4b0869f641519d9/1563043696442-4RUH6JHL3GQ1DS4FOM9D/String+Wrap+Direction+-+Over+or+under+tuner+-+3-aside.png',
        'https://t3.ftcdn.net/jpg/01/20/15/34/360_F_120153454_V8pWeJEsh20jje4n1sp9tA1wffWVV66q.jpg'
    ];
    const images = [
        /*[[@{/images/tuning_pegs.webp}]]*/,
        /*[[@{/images/adding_string_and_peg.jpg}]]*/,
        /*[[@{/images/pushing_string_in.jpg}]]*/,
        /*[[@{/images/winding_direction.png}]]*/,
        /*[[@{/images/congrats.jpg}]]*/
    ];
    const altImageDescriptions = [
        'Picture of tuning pegs',
        'Picture of string and peg being placed in bridge pin hole',
        'Picture of string being pushed in tuning peg',
        'Picture depicting appropriate winding directions',
        'Picture of the word congratulations'
    ];
</script>
<div th:replace="~{fragments/_scripts}"></div>
</body>
</html>